<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

    <!-- apiNG (latest) -->
    <script src="//cdn.jsdelivr.net/aping/latest/aping.min.js"></script>

    <script src="js/app.js"></script>

    <title>Youtube Channel Name to ID Converter by JohnnyTheTank</title>
</head>

<body ng-app="app" ng-controller="appController">
<div id="container">
    <div class="inner">

        <header>
            <h1>Youtube Channel Name to ID Converter &nbsp; <iframe src="https://ghbtns.com/github-btn.html?user=JohnnyTheTank&repo=youtube-channel-name-converter&type=star&count=true&size=large" height="30" width="150" frameborder="0"></iframe></h1>

            <h2>Convert your Channel Name to Channel ID</h2>
        </header>

        <section id="main_content" ng-cloak>

            <form ng-submit="getChannelId()" class="pixel-border">

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="channelName" id="channelName" placeholder="Youtube Channel Name">
                </div>
                <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <strong>Get Channel ID</strong>
                </button>
            </form>
            <br>
            <div class="alert alert-success" role="alert" ng-if="channelId">
                <span class="sr-only">Success:</span>
                <strong>Channel ID:</strong>
                <pre>{{channelId}}</pre>

                <strong>Channel URL:</strong>
                <pre>{{'https://www.youtube.com/channel/' + channelId + '/'}}</pre>
            </div>

            <div class="alert alert-danger" role="alert" ng-if="isError">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                <strong>Error</strong>
                <p ng-if="errorMessage">
                    {{errorMessage}}
                </p>
            </div>

        </section>

        <footer>
            Youtube Channel Name to ID Converter is maintained by
            <a href="https://github.com/JohnnyTheTank">JohnnyTheTank</a><br>
        </footer>

        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-74953650-1");
                pageTracker._trackPageview();
            } catch (err) {
            }
        </script>

    </div>
</div>
</body>
</html>
